*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
*::selection{
    background-color: black;
    color: #fff;
}
html, body{
    height: 100%;
    width: 100%;
}
#page1{
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding-top: 25vh;
    padding-left: 2vw;
  
}
#page1 h1 {
    font-size:15.3vw;
    font-family: futura;
    text-transform: uppercase;
    line-height: 15vw;
    letter-spacing: -10px;
}
#video-container {
    height: 100vh ;
    width: 100%;
  position:relative;
}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
cursor: pointer;
}

#video-container #play{
    padding:3vw 2.2vw ;
    background-color: black;
    color:#fff;
    position:fixed;
    font-size: 1.2vw;
    font-family: futura;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}